<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommentSense</title>
    <link rel="stylesheet" href="search_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main>

        <inner-column>
            <form onsubmit="event.preventDefault();" role="search">
                <input type="search" id="search-box" placeholder="Search youtube...">
            </form>
        </inner-column>

        <inner-column>
            <div class="video-list">
                <div class="video-item">

                    <div class="video-thumbnail"><img src="https://i.ytimg.com/vi/wBUkMstoODY/default.jpg"
                            alt="Video 1 Thumbnail"></div>
                    <div class="video-description">
                        <div class="video-description-title">
                            Video 1 Title
                        </div>
                        <div class="video-description-description">
                            askljflkjasflkjasfkdlj lkjsdklfj kljflaksj kldsjklj klsjf
                            lkasjfkljalksjf
                        </div>
                    </div>
                </div>
                <div class="video-item">
                    <img src="thumbnail_url_2.jpg" alt="Video 2 Thumbnail">
                    <h3>Video 2 Title</h3>
                </div>
                <!-- Add more video items as needed -->
            </div>
        </inner-column>


    </main>
</body>

</html>